<div class="card-car">
  <%= cl_image_tag @car.photo.key %>
  <div class="card-car-infos">
  <div>
    <h1><%=@car.make%> </h1>
    <p><%=@car.model%></p>
  </div>
  <h2 class="card-car-pricing"><%=@car.price%></h2>
  <%= link_to "Back to all cars", cars_path %>
</div>



